<div class="w-screen h-screen flex items-center justify-center">
  <div class="bg-slate-500 w-1/2 p-4 rounded-3xl">
    <form class="grid gap-y-4" [formGroup]="form" (submit)="handleSubmit()">
      <label for=""> Email: </label>
      <input type="text" class="form-control" formControlName="email" />
      <label for=""> Mensaje: </label>
      <input type="text" class="form-control" formControlName="message" />

      <button
        class="bg-green-600 p-4"
        type="submit"
        [disabled]="form.invalid"
        [ngClass]="[form.invalid ? 'bg-red-500' : '']"
      >
        Enviar
      </button>
    </form>
    <!-- {{ form.value | json }} -->
  </div>
</div>
